
  #cards {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%-20px);
    gap: 8px;
    max-width: 930px; 
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
  
  .card:hover::before{
    opacity: 1;
  }
  
  .card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.09),
        transparent 40%);
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    position: absolute;
    opacity: 0;
    transition: opacity 500ms;
  }
  